<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.mySen.demo.dao.AwardMapper">
    <insert id="addAwardinfo">
    INSERT INTO t_award
    (uid,gettime,pic,aname,getgrade,level,createtime) VALUE
    (#{uid},#{gettime},#{pic},#{aname},#{getgrade},#{level},#{createtime})
    </insert>


    <select id="selectAwardtbyid" resultType="com.mySen.demo.model.Award">
     SELECT a.id,a.uid,a.gettime,a.pic,a.aname,a.getgrade,a.level,a.createtime,u.username,u.cardid
      FROM  t_award a ,t_user u  WHERE a.uid=#{id} and a.uid=u.id ORDER BY a.id desc
    </select>


    <select id="selectAwardbycheck" resultType="com.mySen.demo.model.Award">
      SELECT a.id,a.gettime,a.pic,a.aname,a.getgrade,a.level,a.createtime,u.username,u.cardid
      FROM  t_award a ,t_user u
      WHERE a.uid=#{id} and a.uid=u.id and a.aname like #{aname}
      ORDER BY a.id desc
    </select>


    <update id="uploadpic">
        update t_award  set pic=#{pic}  where uid=#{uid};
    </update>

    <update id="updateAward">
        UPDATE t_award SET
       gettime=#{gettime},aname=#{aname},getgrade=#{getgrade},
       level=#{level} WHERE id=#{id}
    </update>

    <delete id="deleteAwerd">
        DELETE FROM t_award  where id=#{id};
    </delete>

</mapper>
