<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.mySen.demo.dao.SubjectMapper">
    <insert id="addSubjectinfo">
 INSERT INTO t_subject
(uid,Subjectname,subjecttype,xuefen,jidian,bz,ispass,school_group,grade,teacherid,type,xid) VALUE
(#{uid},#{Subjectname},#{subjecttype},#{xuefen},#{jidian},#{bz},#{ispass},#{school_group},#{grade},#{teacherid},#{type},#{xid})
    </insert>


    <select id="selectSubjectbyid" resultType="com.mySen.demo.model.Subject">
     SELECT * FROM  t_subject WHERE uid=#{id}
    </select>


    <select id="selectSubjectbycheck" resultType="com.mySen.demo.model.Subject">
     SELECT * FROM  t_subject WHERE uid=#{id} and type=#{type} and xid=#{xid}
    </select>


</mapper>
