<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.mySen.demo.dao.UserMapper">
    <insert id="addUserinfo">
     INSERT INTO t_user
    (username,password,role,isdelect)  VALUE
    (#{username},#{password},#{role},#{isdelect})
    </insert>

    <select id="selectUser" resultType="com.mySen.demo.model.User">
     SELECT * FROM  t_user WHERE  username=#{username}
    and password=#{password} and role=#{role}
    </select>


</mapper>